@media screen and (max-width: 1475px)
	.header
		padding:
			bottom: 230px

		&:after
			right: 80px
			bottom: -80px

@media screen and (max-width: 1380px)
	section
		&.bg-color 
			&:before
				width: 100%

@media screen and (max-width: 1210px)
	.filter
		&-wrap
			+justify-content(center)
			+flex-wrap(wrap)

		&-btn-wrap
			margin:
				top: 15px
			padding: 0
			+justify-content(center)
		
		.select-wrap
			margin:
				bottom: 10px

@media screen and (max-width: 1180px)
	.header
		&:after
			right: 0
	
	.footer
		&-menu
			width: 28%

			&-list
				margin:
					right: 20px

		&-contact
			width: 38%

@media screen and (max-width: 1100px)
	.info
		&-item
			width: 33.33%

		&.info-slider
			.info-item
				&:last-child
					display: none
	
	.spec
		margin: 0 auto
		max-width: 720px
		+flex-wrap(wrap)
		+justify-content(center)

		&-row
			padding: 15px
			width: 50%

			&:nth-child(1)
				order: 1
			
			&:nth-child(2)
				order: 3
			
			&:nth-child(3)
				order: 2
			
			&:nth-child(4)
				order: 4

@media screen and (max-width: 1024px)
	.top-line
		&-nav
			&-link 
				padding: 0  10px

	.header
		&:after
			right: -70px
	
	.about
		&-item
			width: 33.33%

	.faq
		+flex-wrap(wrap)
	
		&-list
			width: 100%

			&-wrap
				+flex
				margin: 0 -10px	
			
			&-link
				margin:
					top: 25px
		
		&-link
			margin: 0 10px
			padding: 15px 20px
			+flex-wrap(wrap)

			&:last-child
				margin: 0 10px

			&-img-box
				margin: 0 auto

		&-info
			margin:
				top: 40px
			padding: 0
			width: 100%
		
			&-img-box
				margin: 0 auto
				padding: 0

			&-img
				position: relative

	.clinic
		&-review
			+flex-wrap(wrap)
		
			&-elem
				margin:
					bottom: 30px
				width: 100%

				&:last-child
					margin: 0

			&-rating
				+justify-content(center)
			
			&-row
				margin: 0 auto
				max-width: 500px

@media screen and (max-width: 961px)
	.top-line
		&-wrap
			padding: 20px 0 19px 0

		&-box
			display: block
			position: absolute
			padding: 15px
				top: 80px
			top: 0
			right: -110%
			width: 100%
			max-width: 320px
			z-index: 100
			background-color: $white
			border:
				bottom-left-radius: 10px
			+box-shadow(0px 0px 30px rgba(1, 0, 69, 0.15))
			+prefix(transition, $default-transition)
			overflow: hidden

			&:after
				content: ''
				display: block
				position: absolute
				top: -40%
				left: -85%
				width: 200%
				height: 190%
				background-image: url(../img/all/abstract-bg.svg)
				background-size: 100% auto
				background-position: center center
				background-repeat: no-repeat
				+prefix(transform, rotate(10deg))
				opacity: .3
				z-index: 0

			&.active
				right: 0

		&-nav
			position: relative
			+flex-flow(column)
			text-align: right
			z-index: 1
			
			&-link 
				padding: 5px 0
		
		&-info
			position: relative
			margin:
				top: 10px
			+flex-flow(column)
			+align-items(flex-end)
			z-index: 1
		
		&-city
			margin: 0
		
		&-btn
			margin:
				top: 25px
			max-width: 100%

		&-menu-btn
			display: block

	.header
		padding:
			bottom: 120px
		&:after
			display: none
		
		&-info
			max-width: 100%
		
		&-search
			margin: 0 auto
				top: 40px

	.clinic
		&-header
			padding:
				bottom: 125px

			&-wrap
				+flex-wrap(wrap)
			
			&-r
				margin:
					top: 30px
				padding: 0
				max-width: 100%

			&-enroll
				margin: 0 auto
				max-width: 400px

	.about
		margin: -5px
		&-item
			padding: 5px

	.footer
		&-m
			+flex-wrap(wrap)
			+justify-content(center)
		
		&-menu,
		&-contact,
		&-info
			width: 50%
			+justify-content(center)
		
		&-info
			margin:
				top: 30px	
		
@media screen and (max-width: 850px)
	.subscribe
		+justify-content(center)
		+flex-wrap(wrap)

		.custom-form,
		.subscribe-desc
			padding: 0
			width: 100%
			max-width: 520px

		.subscribe-desc
			text-align: center
			order: 1

		.custom-form
			margin:
				top: 30px
			order: 2

	.clinic
		&-about 
			&-wrap 
				margin: 0
				+flex-wrap(wrap)
			
				&-elem
					padding: 15px 0
					width: 100%

@media screen and (max-width: 825px)
	.info
		&-item
			width: 50%

		&.info-slider
			.info-item
				&:nth-child(n+3)
					display: none
	
	.block-bg
		top: -50px
		right: -350px

@media screen and (max-width: 761px)
	.header
		padding:
			top: 40px
		
		&-logo 
			max-width: 120px
		
		&-title
			margin:
				top: 20px
			font-size: 32px
			line-height: normal

		&-desc
			max-width: 520px
			font-size: 16px
			line-height: 21px

	.price
		+flex-wrap(wrap)

		&-elem
			margin: 0 auto
				bottom: 30px
			width: 100%
			max-width: 520px

			&:last-child
				margin: 0 auto
			
@media screen and (max-width: 715px)
	.about
		&-item
			width: 50%

	.step
		margin: 0 auto
			top: -15px
			bottom: -15px
		max-width: 520px
		+flex-wrap(wrap)

		&-elem
			padding: 15px
			width: 50%

	.catalog-header
		&-wrap
			margin: 0
			+flex-wrap(wrap)
			
		&-elem
			padding: 15px 0
			width: 100%

	.gallery
		&-elem
			width: 25%

			&:last-child
				display: none

	.footer
		&-menu,
		&-contact,
		&-info
			width: 100%
		
		&-contact
			+flex-wrap(wrap)
			+justify-content(center)

			&-elem
				+flex
				+flex-flow(column)
				+align-items(center)
				
				&:first-child,
				&:last-child
					padding: 0
			
			&-link
				padding:
					right: 10px

@media screen and (max-width: 661px)
	.faq
		
		&-list
			&-wrap
				margin: 0
				+flex-wrap(wrap)

		&-link
			margin: 0 auto
				bottom: 15px
			width: 100%
		
			&:last-child
				margin: 0 auto

@media screen and (max-width: 620px)
	section
		margin:
			bottom: 45px
		
		&.bg-color
			padding: 45px 0

			&.bg-color-r,
			&.bg-color-l
				&:before
					border-radius: 0

	.btn
		font-size: 18px

	.breadcrumbs
		padding:
			top: 0

		&-elem
			line-height: normal

	.block
		&-title
			font-size: 24px
		
		&-desc
			margin:
				top: 10px
		
		&-info
			margin:
				top: 30px
		
		&-bg
			display: none
	
	.info
		.pagination
			margin:
				top: 25px
		
		&-btn
			margin:
				top: 30px

	.spec
		max-width: 320px

		&-row
			padding: 15px 0
			width: 100%
			
			&:nth-child(2)
				order: 2
			
			&:nth-child(3)
				order: 3

		&-elem
			padding: 15px 0

	.clinic
		&-header
			&-l
				+flex-wrap(wrap)
				text-align: center
		
			&-logo
				margin: 0 auto
				padding: 0
			
			&-about,
			.social
				+justify-content(center)

@media screen and (max-width: 550px)
	.info
		&-item
			margin: 0 auto
			width: 100%
			max-width: 320px

		&.info-slider
			.info-item
				&:nth-child(n+2)
					display: none
	
	.gallery
		&-elem
			width: 33.33%

			&:nth-child(n+4)
				display: none

	.clinic
		&-review
			&-rating
				&-val
					width: 150px

					span
						font-size: 54px
				
				.star
					&-elem
						width: 25px
						height: 25px
				
				&-desc
					margin:
						top: 10px
					font-size: 16px

				&-btn
					margin:
						top: 15px

	.modal
		&.modal-review
			.modal-body
				padding: 20px

@media screen and (max-width: 500px)
	.custom-form
		&-input
			padding:
				right: 60px
			font-size: 16px

		&-btn
			font-size: 0
			max-width: 50px 

			img
				display: block

@media screen and (max-width: 471px)
	.header
		padding: 
			bottom: 70px

	.about
		&-item
			margin: 0 auto
			width: 100%
			max-width: 320px
			
		&-info
			padding:
				left: 75px
	
	.gallery
		&-elem
			width: 50%

			&:nth-child(n+3)
				display: none

	.clinic
		&-header
			&-about
				margin: 0 auto
					top: 10px
				max-width: 220px
				+flex-wrap(wrap)

				.address
					margin: 0
					width: 100%
				
				.time
					width: 100%
					text-align: left

		&-review
			&-row
				margin:
					bottom: 10px
				line-height: normal
			
				&-text
					font-size: 18px
				
				&-line-wrap
					padding:
						right: 30px
					max-width: 100px
				
				&-val
					font-size: 16px
					line-height: normal

	.modal-review
		&-row
			margin:
				bottom: 15px
			+flex-wrap(wrap)

			&:last-child
				margin:
					bottom: 0
			
		&-l
			padding: 0
			width: 100%
			font-size: 14px
			text-align: center
		
		&-r
			margin: 0 auto
				top: 5px

		.star
			margin:
				right: 10px
			&-elem
				width: 18px
				height: 18px
		
		&-val
			line-height: normal

@media screen and (max-width: 420px)
	.step
		margin: 0
			top: -15px
			bottom: -15px

		&-elem
			padding: 15px 0
			width: 100%

	.clinic
		&-review
			&-rating
				+flex-wrap(wrap)

				&-r
					margin:
						top: 15px
					padding: 0

				.star
					+justify-content(center)
				
				&-btn
					margin: 0 auto
						top: 15px

		&-comment
			&-top
				+flex-wrap(wrap)
			
			&-date
				margin:
					top: 10px
				width: 100%

	.price
		margin: 0 -15px

		&-elem
			padding: 0

			&-wrap
				padding: 20px 15px

	.footer
		padding:
			top: 65px
		background-color: #030090
		background-image: none
		
		&-t
			+flex-wrap(wrap)
		
		&-search
			margin: 0
				top: 20px

	.modal
		padding:
			left: 0
			right: 0
		
	.modal-review
		&-input,
		&-textarea
			padding: 15px	20px

@media screen and (max-width: 350px)
	.gallery
		&-elem
			width: 100%

			&:nth-child(n+2)
				display: none

	.footer
		&-menu
			+justify-content(flex-start)

		&-contact
			&-elem
				margin:
					top: 30px
				width: 100%
				+align-items(flex-start)