$accent-color: #030091
$accent-color_2: #FFE600
$white: #ffffff

$bg-light-color: rgba(3, 0, 144, 0.05)

$default-font: "Raleway", sans-serif
$second-font: "Roboto", sans-serif
$default-transition: .35s
$default-opacity: .8

*, body, html 
	margin: 0
	padding: 0
	font-family: $default-font
	box-sizing: border-box

html, body
	min-width: 320px
	font-weight: 500
	font-style: normal
	color: #000
	background-color: $white
	overflow-x: hidden

html
	height: 100%
	scroll-behavior: smooth

body 
	position: relative
	height: 100%

	&.modal-active
		overflow: hidden

button,
input,
textarea,
select
	outline: none
	border-radius: 0
	-moz-appearance: none
  -webkit-appearance: none
  +prefix(appearance, none)

a
	text-decoration: none
	outline: none

.container
	position: relative
	margin: 0 auto
	padding: 0 15px
	width: 100%
	max-width: 1200px

.btn
	display: block
	position: relative
	padding: 13px 10px
	width: 100%
	max-width: 210px
	font-size: 20px
	font-weight: 700
	color: $white
	text-align: center
	background-color: $accent-color
	border: 0
	border-radius: 50px
	+prefix(transition, $default-transition)
	cursor: pointer

	&.btn-inverse
		color: #030090
		border: 1px solid $accent-color
		background-color: $white

	&:hover
		font-weight: 900
		background-color: $accent-color_2

.header
	position: relative
	margin:
		bottom: 0
	padding:
		top: 70px
		bottom: 385px
	background-color: #F2F2F9

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-image: url(../img/all/header-bg.svg)
		background-size: 100% auto
		background-position: center bottom -1px
		background-repeat: no-repeat
		z-index: 1

	&:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		right: 19%
		width: 100%
		max-width: 600px
		height: 100%
		max-height: 887px
		background-image: url(../img/all/doctor.png)
		background-size: 100% auto
		background-position: center center
		background-repeat: no-repeat
		z-index: 0

	&-info
		position: relative
		max-width: 700px
		z-index: 5

	&-logo
		width: 100%
		max-width: 175px

		&-img
			width: 100%
	
	&-title
		font-size: 50px
		font-weight: 700
		color: rgba(0, 0, 0, .8)
		line-height: 65px

	&-desc
		margin:
			top: 15px
		font-size: 22px
		font-weight: 400
		color: rgba(0, 0, 0, .7)
	
	&-search
		margin:
			top: 40px
		max-width: 670px

		.custom-form-input
			background-color: rgba(3, 0, 145, 0.05)

.catalog-header
	margin:
		top: 20px
		bottom: 30px
		
	&-wrap
		+flex
		margin: 0 -15px
			top: 22px
				
	&-elem
		padding: 0 15px
		width: 50%

	&-desc
		font-size: 16px
		font-weight: 400
		line-height: 22px

.breadcrumbs
	margin:
		top: 22px

	&-elem
		font-size: 12px
		font-weight: 400
		line-height: 45px
		color: rgba(0, 0, 0, .4)

		&:after
			content: '/'
			display: inline-block
			position: relative
			margin: 0 5px
			font-size: 12px
			font-weight: 400
			color: rgba(0, 0, 0, .4)
		
		&:last-child
			font-weight: 600
			&:after
				display: none

.custom-form
	position: relative

	&-input
		padding: 14px 220px 15px 20px
		width: 100%
		font-size: 18px
		font-weight: 400
		color: #000
		border: 0
		border-radius: 50px
		background-color: lightgray
		+prefix(transition, $default-transition)
		
		+placeholder()
			color: rgba(0, 0, 0, .8)
	
	&-btn
		position: absolute
		top: 0
		right: 0

section
	margin:
		bottom: 95px

	&.bg-color
		position: relative
		padding: 75px 0 90px 0

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			width: 95%
			height: 100%
			background-color: $bg-light-color

		&.bg-color-r
			&:before
				right: 0
				border:
					top-left-radius: 70px
		
		&.bg-color-l
			&:before
				left: 0
				border:
					top-right-radius: 70px

.block
	position: relative

	&-bg 
		position: absolute
		top: -89px
		right: -300px
		width: 100%
		max-width: 1185px
		z-index: 0

		img
			width: 100%

	&-title
		font-size: 35px
		font-weight: 700
		color: rgba(0, 0, 0, .8)

		span
			color: $accent-color
	
	&-desc
		margin:
			top: 15px
		max-width: 490px
		font-size: 16px
		font-weight: 400
		color: rgba(0, 0, 0, .8)

	&-info
		margin:
			top: 50px

.info
	&-wrap
		+flex
		margin: -15px
		+flex-wrap(wrap)

	&-item
		padding: 15px
		width: 25%
		
		&-wrap
			padding:
				bottom: 20px
			+box-shadow(0px 0px 50px rgba(1, 0, 69, 0.15))
	
		&-img
			position: relative
			padding:
				bottom: 74.1%
			width: 100%

			img
				display: block
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 100%
		
		&-bottom
			padding: 0 20px

		&-name
			margin:
				top: 10px
			font-size: 18px
			font-weight: 700
			line-height: 24px
			color: rgba(0, 0, 0, .8)
			text-align: center

		&-review
			+flex
			margin:
				top: 8px
			+align-items(center)

			&-star-wrap
				+flex

				&.fourth
					.info-item-review-star
						&:nth-child(-n+4)
							background-image: url(../img/icon/star-c.svg)

			&-star
				margin:
					right: 2px
				width: 15px
				height: 15px
				background-image: url(../img/icon/star-d.svg)
				background-size: cover
				background-position: center center
				background-repeat: no-repeat
			
				&:last-child
					margin: 0

			&-val,
			&-view
				font-family: $second-font
				font-size: 12px
				font-weight: 400
				color: rgba(0, 0, 0, .3)

			&-val
				display: block
				margin:
					left: 4px
				+prefix(transition, $default-transition)

				&:hover
					color: #000

			&-view
				position: relative
				margin: 0 0 0 auto
				padding:
					left: 26px
				
				&:before
					content: ''
					display: block
					position: absolute
					margin:
						top: -6px
					top: 50% 
					left: 5px
					width: 17px
					height: 10px
					background-image: url(../img/icon/eye.svg)
					background-size: cover
					background-position: center center
					background-repeat: no-repeat

		&-tag-wrap
			+flex
			margin:
				top: 10px
			+flex-wrap(wrap)
			+align-items(center)

		&-tag
			display: block
			margin:
				right: 3px
				bottom: 2px
			padding: 4px 9px 5px 9px
			font-family: $second-font
			font-size: 12px
			font-weight: 400
			color: rgba(0, 0, 0, .3)
			background-color: rgba(3, 0, 145, 0.1)
			border-radius: 50px
			+prefix(transition, $default-transition)

			&:hover
				color: $accent-color
		
		&-advantages
			+flex
			margin: 0 -5px
				top: 5px
			+flex-wrap(wrap)
		
			&-elem
				+flex
				padding: 5px 
				+align-items(center)
			
			&-img
				width: 100%
				max-width: 13px
			
			&-text
				margin:
					left: 5px
				font-family: $second-font
				font-size: 12px
				font-weight: 400
				color: rgba(0, 0, 0, .5)
				white-space: nowrap

		&-address
			+flex
			position: relative
			margin:
				top: 15px
			padding:
				left: 15px
			font-family: $second-font
			font-size: 12px 
			font-weight: 400
			color: rgba(0, 0, 0, .5)
			+align-items(flex-start)

			&:before 
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 10px
				height: 15px
				background-image: url(../img/icon/pin-g.svg)
				background-size: 100% auto
				background-position: center center
				background-repeat: no-repeat

			&-text
				padding:
					right: 10px
				max-width: 145px

			&-btn
				margin: 0 0 0 auto
				color: $accent-color
				text-decoration: underline	
				cursor: pointer

		&-more
			display: block
			margin:
				left: 7px
			font-family: $second-font
			font-size: 12px
			font-weight: 400
			color: rgba(0, 0, 0, .3)
			text-decoration: underline
			+prefix(transition, $default-transition)

			&:hover
				color: #000
		
		&-bottom-wrap
			+flex
			margin:
				top: 15px
			+align-items(center)
			+justify-content(space-between)

		&-metro
			position: relative 
			padding:
				left: 23px
			font-family: $second-font
			font-size: 12px
			font-weight: 400
			line-height: 19px
			color: rgba(0, 0, 0, .5)

			&:before
				content: ''
				display: block
				position: absolute
				top: 0
				left: 0
				width: 17px
				height: 17px
				background-image: url(../img/icon/metro.svg)
				background-size: 100% auto
				background-position: center center
				background-repeat: no-repeat

		&-btn
			max-width: 135px
			font-size: 16px

		&-address-wrap
			+flex
			margin:
				top: 10px
			line-height: 16px

		&-time
			position: relative
			margin:
				top: 5px
			padding: 
				left: 16px
			font-family: $second-font
			font-size: 12px
			font-weight: 400
			line-height: 16px
			color: rgba(0, 0, 0, .8)
			
			&:before
				content: ''
				display: block
				position: absolute
				top: 2px
				left: 0
				width: 12px
				height: 12px
				background-image: url(../img/icon/clock.svg)
				background-size: 100% auto
				background-position: center center
				background-repeat: no-repeat

		&-desc
			display: -webkit-box
			margin:
				top: 10px
			font-size: 12px
			font-weight: 400
			line-height: 16px
			color: rgba(0, 0, 0, .5)
			-webkit-line-clamp: 3
			-webkit-box-orient: vertical
			text-overflow: ellipsis
			overflow: hidden
			
		&-table
			+flex
			+box-shadow(0px 0px 50px rgba(1, 0, 69, 0.15))

			&-wrap
				+flex
				padding: 20px
					left: 30px

			.info-item-name
				margin:
					top: 0
				text-align: left

			.info-item-img
				padding:
					bottom: 17.1%
				max-width: 270px
		
			.info-item-address
				margin:
					top: 0
				
				&:before
					background-image: url(../img/icon/pin.svg)

				&-text
					color: rgba(0, 0, 0, .8)
		
			&-metro
				position: relative
				margin:
					left: 15px
				padding:
					left: 15px
				font-family: $second-font
				font-size: 12px
				font-weight: 400
				color: rgba(0, 0, 0, .8)

				&:before 
					content: ''
					display: block
					position: absolute
					top: 0
					left: 0
					width: 10px
					height: 15px
					background-image: url(../img/icon/pin-unfill.svg)
					background-size: 100% auto
					background-position: center center
					background-repeat: no-repeat

			&-l
				width: 75%

	&-pagination
		+flex
		margin:
			top: 40px
		+justify-content(center)
		+align-items(center)

		&-elem
			margin: 0 6px
			width: 10px
			height: 10px
			background-color: #c4c4c4
			border-radius: 10px
			+prefix(transition, $default-transition)
			cursor: pointer

			&:not(.active):hover
				background-color: $accent-color
				opacity: .5

			&.active
				background-color: $accent-color

	&-btn
		margin: 0 auto
			top: 50px
		max-width: 228px

.about
	+flex
	margin: -15px
	+flex-wrap(wrap)

	&-item
		padding: 15px
		width: 25%
	
		&-wrap
			+flex
			position: relative
			padding: 25px 20px
			background-color: $white
			+box-shadow(0px 0px 50px rgba(1, 0, 69, 0.1))

	&-img
		+flex
		position: absolute
		top: 25px
		left: 20px
		width: 46px
		height: 46px
		background-color: #E6E5F4
		border-radius: 100px
		+justify-content(center)
		+align-items(center)

		img
			margin:
				left: 5px
			width: 100%
			max-width: 29px
	
	&-info 
		padding:
			left: 55px
		
	&-title
		font-size: 18px
		font-weight: 700
		color: rgba(0, 0, 0, .8)
	
	&-list
		+flex
		margin:
			top: 12px
		+flex-wrap(wrap)
	
	&-link
		display: block
		margin:
			bottom: 5px
		width: 100%
		font-family: $second-font
		font-size: 12px
		font-weight: 400
		color: rgba(0, 0, 0, .3)
		text-decoration: underline
		+prefix(transition, $default-transition)

		&:last-child
			margin: 0

		&:hover
			color: $accent-color

.filter
	margin:
		bottom: 30px

.tab
	+flex

	&-list
		width: 36.5%

		&-link
			margin: 0 auto
				top: 50px
			max-width: 228px

	&-link
		+flex
		margin:
			bottom: 22px
		padding: 25px 41px 15px 31px
		width: 100%
		max-width: 427px
		border:
			top-left-radius: 80px
			bottom-right-radius: 60px
		background-color: $white
		+box-shadow(0px 0px 50px rgba(1, 0, 69, 0.1))
		+align-items(flex-start)
		+prefix(transition, $default-transition)

		&:last-child
			margin: 0

		&:hover
			background-color: $accent-color
			+box-shadow(none)

			.tab-link-img-box
				background-color: rgba(255, 255, 255, 0.1)
			
			.tab-link-img
				path 
					fill: $white
			
			.tab-link-title
				color: $white

			.tab-link-desc
				color: rgba(255, 255, 255, .8)

		&-img-box
			+flex
			width: 100%
			max-width: 86px
			height: 86px
			background-color: rgba(3, 0, 145, 0.1)
			border-radius: 100px
			+justify-content(center)
			+align-items(center)
			+prefix(transition, $default-transition)

		&-img
			margin:
				left: 5px
			width: 100%
			max-width: 54px
			
			path 
				+prefix(transition, $default-transition)
		
		&-text
			margin:
				top: 8px
				left: 15px

		&-title
			font-family: $second-font
			font-size: 18px
			font-weight: 700
			color: rgba(0, 0, 0, .8)
			+prefix(transition, $default-transition)

		&-desc
			margin:
				top: 6px
			font-size: 16px
			font-weight: 400
			color: rgba(0, 0, 0, .3)
			+prefix(transition, $default-transition)

	&-info
		padding:
			left: 43px
		width: 63.5%

		&-img-box
			position: relative
			padding:
				bottom: 65%
			width: 100%
			max-width: 700px
			+box-shadow(0px 0px 40px rgba(16, 0, 81, 0.25))

		&-img
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%

.step
	+flex
	margin: 0 -15px
	
	&-elem
		padding: 0 15px
		width: 25%
		text-align: center

		&.blue
			.step-img-bg-svg
				circle,
				path
					fill: #3633D9
		
		&.lightblue
			.step-img-bg-svg
				circle,
				path
					fill: #006DD2
		
		&.green
			.step-img-bg-svg
				circle,
				path
					fill: #62B145
		
		&.orange
			.step-img-bg-svg
				circle,
				path
					fill: #E7A600
	
	&-img
		+flex
		position: relative
		margin: 0 auto
		width: 118px
		height: 118px
		+justify-content(center)
		+align-items(center)

		&-bg
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			z-index: 0

			&-svg
				width: 100%

		img
			position: relative
			width: 100%
			max-width: 54px
			height: auto
			z-index: 1

	&-title 
		margin:
			top: 15px
		font-family: $second-font 
		font-size: 18px
		font-weight: 700
	
	&-desc
		margin:
			top: 13px
		font-size: 16px
		font-weight: 400
		color: rgba(0, 0, 0, .7)

.catalog
	margin:
		top: 30px
		bottom: 60px		

	&-sort
		+flex
		+justify-content(flex-end)

		&-view
			&.grid
				.catalog-sort-view-btn
					&.table
						display: block

			&.table 
				.catalog-sort-view-btn
					&.grid
						display: block

			&-btn
				display: none
				background-size: 100% auto
				background-position: center center
				background-repeat: no-repeat
				
				&.grid
					width: 15px
					height: 13px
					background-image: url(../img/icon/grid-view.svg)

				&.table
					width: 20px
					height: 13px
					background-image: url(../img/icon/table-view.svg)
					


	&-more
		margin: 0 auto
			top: 40px
		max-width: 230px

.spec 
	+flex

	&-row
		padding: 0 15px
		width: 25% 
	
	&-elem
		+flex
		padding: 43px 0
		width: 100%

		&:first-child
			padding:
				top: 0
		
		&:last-child
			padding:
				bottom: 0

	&-letter
		width: 46px
		height: 46px
		font-size: 29px
		font-weight: 700
		line-height: 46px
		color: $accent-color
		text-align: center
		background-color: $white
		border-radius: 100px
		
	&-list
		padding:
			top: 5px
			left: 20px
		list-style-type: none

		&-elem
			margin:
				bottom: 5px
			font-size: 16px
			font-weight: 400
			line-height: 21px
			color: #707070

.subscribe
	+flex
	+align-items(center)

	.custom-form
		width: 100%
		max-width: 470px 

		&-input
			background-color: $white
			+box-shadow(0px 0px 15px rgba(1, 0, 69, 0.25))

	&-desc
		padding:
			left: 30px
		max-width: 540px
		font-size: 22px
		font-weight: 400
		color: rgba(0, 0, 0, .8)
