.all-page
	.all-page_box
		.all-page_title 
			img(src="style/img/icon/logo.svg", alt="Logo")
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| 1. Главная страница 
					span (main_page.html)
			li
				a(href="catalog_grid_page.html" target="_blank") 
					| 2. Каталог grid 
					span (catalog_grid_page.html)
			li
				a(href="catalog_table_page.html" target="_blank") 
					| 3. Каталог table 
					span (catalog_table_page.html)