.main
	include ../var/top_line.pug

	.container
		.breadcrumbs
			a(href="").breadcrumbs-elem Главная 
			a(href="").breadcrumbs-elem Каталог
			a(href="").breadcrumbs-elem Стоматологии
	
	
	.catalog-header.container 
		.block-title 
			| Стоматологии 
			span Минска
		.catalog-header-wrap
			.catalog-header-elem
				.catalog-header-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem 
					| ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum 
					| dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. 
			.catalog-header-elem
				.catalog-header-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem 
					| ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum 
					| dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. 
	
	section.filter.bg-color.bg-color-r
		.container
			.filter-wrap
				.select-wrap
					select(name="").select-custom
						option(value="0" selected disabled) Ведите название клиники
						option(value="1") Test #1
						option(value="2") Test #2
						option(value="3") Test #3
				
				.select-wrap
					select(name="").select-custom
						option(value="0" selected disabled) Введите направление
						option(value="1") Test #1
						option(value="2") Test #2
						option(value="3") Test #3

				.select-wrap.select-address
					select(name="").select-custom
						option(value="0" selected disabled) Введите район или метро
						option(value="1") Test #1
						option(value="2") Test #2
						option(value="3") Test #3

				.filter-btn-wrap
					a(href="").btn.filter-btn.filter-all-btn 
						.filter-all-btn-img
							svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
								g(clip-path="url(#clip0)")
									path(d="M15.5308 3.24545H10.0822C10.0245 3.1112 9.94104 2.98548 9.83157 2.87604L8.97039 2.01485C8.74642 1.79086 8.44858 1.66748 8.13177 1.66748C7.81499 1.66748 7.51717 1.79086 7.29314 2.01482L6.43196 2.87601C6.32252 2.98545 6.23899 3.11117 6.18133 3.24541H0.469218C0.210093 3.24541 0 3.45548 0 3.7146C0 3.97373 0.210093 4.18385 0.469218 4.18385H6.18139C6.23905 4.3181 6.32255 4.44382 6.43202 4.55326L7.2932 5.41444C7.5172 5.63844 7.81505 5.76179 8.13183 5.76179C8.44864 5.76179 8.74645 5.63841 8.97045 5.41444L9.83164 4.55326C9.94108 4.44382 10.0246 4.3181 10.0823 4.18385H15.5308C15.7899 4.18385 16 3.97376 16 3.71463C16 3.45551 15.7899 3.24545 15.5308 3.24545ZM9.16808 3.88976L8.30689 4.75094C8.26014 4.79769 8.19798 4.82344 8.13183 4.82344C8.06567 4.82344 8.00352 4.79769 7.95677 4.75094L7.09558 3.88976C6.99905 3.7932 6.99905 3.63613 7.09558 3.5396L7.95677 2.67845C8.00352 2.6317 8.06567 2.60595 8.13183 2.60595C8.19798 2.60595 8.26014 2.6317 8.30689 2.67845L9.16808 3.53963C9.26461 3.63616 9.26461 3.79323 9.16808 3.88976Z" fill="black" fill-opacity="0.3")
									path(d="M15.5308 7.59356H6.37839C6.31971 7.45737 6.23511 7.33215 6.12708 7.22415L5.26593 6.36297C5.04193 6.13897 4.74408 6.01562 4.4273 6.01562C4.11049 6.01562 3.81268 6.139 3.58868 6.36297L2.72749 7.22415C2.61806 7.33359 2.53453 7.45931 2.47687 7.59356H0.469218C0.210093 7.59356 0 7.80362 0 8.06275C0 8.32187 0.210093 8.53196 0.469218 8.53196H2.47693C2.53459 8.66621 2.61809 8.79193 2.72756 8.90137L3.58874 9.76255C3.81271 9.98655 4.11055 10.1099 4.42737 10.1099C4.74415 10.1099 5.04196 9.98655 5.26599 9.76255L6.12714 8.9014C6.23514 8.7934 6.31977 8.66818 6.37846 8.532H15.5308C15.7899 8.532 16 8.3219 16 8.06278C16 7.80365 15.7899 7.59356 15.5308 7.59356ZM5.46355 8.23784L4.6024 9.09899C4.55565 9.14574 4.49349 9.17149 4.42734 9.17149C4.36118 9.17149 4.29902 9.14574 4.25227 9.09899L3.39109 8.23781C3.29456 8.14128 3.29456 7.98421 3.39109 7.88768L4.25227 7.0265C4.29902 6.97975 4.36118 6.954 4.42734 6.954C4.49349 6.954 4.55565 6.97975 4.6024 7.0265L5.46355 7.88768C5.5103 7.93443 5.53605 7.99659 5.53605 8.06272C5.53605 8.12887 5.5103 8.19106 5.46355 8.23784Z" fill="black" fill-opacity="0.3")
									path(d="M15.5308 11.8162H13.2102C13.1526 11.682 13.0691 11.5563 12.9596 11.4468L12.0984 10.5857C11.8744 10.3617 11.5766 10.2383 11.2598 10.2383C10.943 10.2383 10.6452 10.3617 10.4212 10.5856L9.55998 11.4468C9.45055 11.5562 9.36701 11.682 9.30936 11.8162H0.469218C0.210093 11.8162 0 12.0263 0 12.2854C0 12.5446 0.210093 12.7547 0.469218 12.7547H9.30945C9.36711 12.8889 9.45061 13.0146 9.56008 13.1241L10.4213 13.9852C10.6453 14.2092 10.9431 14.3326 11.2599 14.3326C11.5767 14.3326 11.8745 14.2092 12.0985 13.9852L12.9597 13.1241C13.0691 13.0146 13.1527 12.8889 13.2103 12.7547H15.5308C15.79 12.7547 16.0001 12.5446 16.0001 12.2854C16 12.0263 15.7899 11.8162 15.5308 11.8162ZM12.2961 12.4605L11.4349 13.3217C11.3882 13.3685 11.326 13.3942 11.2599 13.3942C11.1937 13.3942 11.1315 13.3685 11.0848 13.3217L10.2236 12.4605C10.1271 12.364 10.1271 12.2069 10.2236 12.1104L11.0848 11.2492C11.1315 11.2025 11.1937 11.1767 11.2599 11.1767C11.326 11.1767 11.3882 11.2025 11.4349 11.2492L12.2961 12.1104C12.3926 12.2069 12.3926 12.364 12.2961 12.4605Z" fill="black" fill-opacity="0.3")
								defs
									clipPath#clip0
										rect(width="16" height="16" fill="white")
						span Фильтры
					.btn.filter-btn.filter-clear-btn Очистить фильтр

	.container
		.catalog-sort
			.catalog-sort-view.table
				.catalog-sort-view-btn.grid
				.catalog-sort-view-btn.table
			.catalog-sort-select-wrap
				select(name="").catalog-sort-select
					option(value="0" selected disabled) Введите район или метро
					option(value="1") Test #1
					option(value="2") Test #2
					option(value="3") Test #3

	.catalog.container
		.info
			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	

			.info-item-table
				.info-item-img
					img(src="style/img/all/hospital.jpg", alt="")
				.info-item-table-wrap
					.info-item-table-l 
						.info-item-name Медецинский центр “Текнон”
						.info-item-address-wrap
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-table-metro 
								| Дарницкий , м.Славутич, м.Осокорки, м.Харьковская, м.Позняки
						.time
							| Пн-Сб: 8:00-21:00 Вс: 8:00-20:00
						.info-item-desc
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. 
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
							| eiusmod tempor incididunt ut labore et eiusmod tempor incididunt ut labore et
						.info-item-tag-wrap
							a(href="").info-item-tag Стоматлогия
							a(href="").info-item-tag Урология
							a(href="").info-item-tag Лор
							a(href="").info-item-tag Гинекология
							a(href="").info-item-tag Педиатрия
							a(href="").info-item-more +10
					.info-item-table-r 
						.info-item-review
							.star.fourth
								.star-elem
								.star-elem
								.star-elem
								.star-elem
								.star-elem
							a(href="").info-item-review-val 56 отзывов
							.info-item-review-view 535
						
						.info-item-advantages
							.info-item-advantages-elem
								img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Парковка
							.info-item-advantages-elem
								img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Детская комната
							.info-item-advantages-elem
								img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Wi-Fi зона 
							.info-item-advantages-elem
								img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
								.info-item-advantages-text Оплата карточкой
						
						a(href="").btn.info-item-btn Записаться	
				
			a(href="").btn.btn-inverse.catalog-more Показать еще

	section.bg-color.bg-color-l
		.container
			.block
				.block-title Специальности клиник
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.block-info
					.spec
						.spec-row
							.spec-elem
								.spec-letter А
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Акушерство
									li.spec-list-elem 
										a(href="").spec-list-link Аллергология
									li.spec-list-elem 
										a(href="").spec-list-link Андрология
									li.spec-list-elem 
										a(href="").spec-list-link Анестезиология
							.spec-elem
								.spec-letter В
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Венерология
									li.spec-list-elem 
										a(href="").spec-list-link Вертебрология
							.spec-elem
								.spec-letter Г
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Гастроэнтерология
									li.spec-list-elem 
										a(href="").spec-list-link Гематология
									li.spec-list-elem 
										a(href="").spec-list-link Генетика
									li.spec-list-elem 
										a(href="").spec-list-link Гепатология
									li.spec-list-elem 
										a(href="").spec-list-link Гинекология
									li.spec-list-elem 
										a(href="").spec-list-link Гирудотерапия
									li.spec-list-elem 
										a(href="").spec-list-link Гомеопатия
							.spec-elem
								.spec-letter Д
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Дерматовенерология
									li.spec-list-elem 
										a(href="").spec-list-link Дерматология
									li.spec-list-elem 
										a(href="").spec-list-link Дерматоонкология
									li.spec-list-elem 
										a(href="").spec-list-link Диетология
									li.spec-list-elem 
										a(href="").spec-list-link Дневной стационар
							.spec-elem
								.spec-letter И
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Иммунология
									li.spec-list-elem 
										a(href="").spec-list-link Инфектология
						.spec-row
							.spec-elem
								.spec-letter К
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Кардиология
									li.spec-list-elem 
										a(href="").spec-list-link Кардиохирургия
									li.spec-list-elem 
										a(href="").spec-list-link Кинезитерапия
									li.spec-list-elem 
										a(href="").spec-list-link Косметология
							.spec-elem
								.spec-letter Л
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Логопедия
							.spec-elem
								.spec-letter М
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Маммология
									li.spec-list-elem 
										a(href="").spec-list-link Мануальная терапия
									li.spec-list-elem 
										a(href="").spec-list-link Массаж
							.spec-elem
								.spec-letter Н
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Наркология
									li.spec-list-elem 
										a(href="").spec-list-link Неврология
									li.spec-list-elem 
										a(href="").spec-list-link Нейрохирургия
									li.spec-list-elem 
										a(href="").spec-list-link Неонатология
									li.spec-list-elem 
										a(href="").spec-list-link Нетрадиционная медицина
									li.spec-list-elem 
										a(href="").spec-list-link Нефрология
							.spec-elem
								.spec-letter О
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Онкология
									li.spec-list-elem 
										a(href="").spec-list-link Ортодонтия
									li.spec-list-elem 
										a(href="").spec-list-link Ортопедия
									li.spec-list-elem 
										a(href="").spec-list-link Оториноларингология
									li.spec-list-elem 
										a(href="").spec-list-link Офтальмология
						.spec-row
							.spec-elem
								.spec-letter П
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Педиатрия
									li.spec-list-elem 
										a(href="").spec-list-link Пластическая хирургия
									li.spec-list-elem 
										a(href="").spec-list-link Подология
									li.spec-list-elem 
										a(href="").spec-list-link Проктология
									li.spec-list-elem 
										a(href="").spec-list-link Психиатрия
									li.spec-list-elem 
										a(href="").spec-list-link Психология
									li.spec-list-elem 
										a(href="").spec-list-link Психотерапия
									li.spec-list-elem 
										a(href="").spec-list-link Пульмонология
							.spec-elem
								.spec-letter Р
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Радиология
									li.spec-list-elem 
										a(href="").spec-list-link Реабилитология
									li.spec-list-elem 
										a(href="").spec-list-link Ревматология
									li.spec-list-elem 
										a(href="").spec-list-link Рентгенология
									li.spec-list-elem 
										a(href="").spec-list-link Репродуктология
									li.spec-list-elem 
										a(href="").spec-list-link Рефлексотерапия
							.spec-elem
								.spec-letter С
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Сексология
									li.spec-list-elem 
										a(href="").spec-list-link Сексопатология
									li.spec-list-elem 
										a(href="").spec-list-link Семейная медицина
									li.spec-list-elem 
										a(href="").spec-list-link Спортивная медицина
									li.spec-list-elem 
										a(href="").spec-list-link Стационар
									li.spec-list-elem 
										a(href="").spec-list-link Стоматология
									li.spec-list-elem 
										a(href="").spec-list-link Сурдология
						.spec-row
							.spec-elem
								.spec-letter Т
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Терапия
									li.spec-list-elem 
										a(href="").spec-list-link Травматология
									li.spec-list-elem 
										a(href="").spec-list-link Трихология
							.spec-elem
								.spec-letter У
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link УЗ-диагностика
									li.spec-list-elem 
										a(href="").spec-list-link Урология
							.spec-elem
								.spec-letter Ф
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Физиотерапия
									li.spec-list-elem 
										a(href="").spec-list-link Фитотерапия
									li.spec-list-elem 
										a(href="").spec-list-link Флебология
									li.spec-list-elem 
										a(href="").spec-list-link Фтизиатрия
									li.spec-list-elem 
										a(href="").spec-list-link Функциональная диагностика
							.spec-elem
								.spec-letter Х
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Хирургия
							.spec-elem
								.spec-letter Э
								ul.spec-list
									li.spec-list-elem 
										a(href="").spec-list-link Эндокринология
									li.spec-list-elem 
										a(href="").spec-list-link Эндоскопия
	
	section
		.container
			.block
				.block-title 
					span Подпишитесь 
					| на нашу рассылку 
				.block-info
					.subscribe
						form(action="").custom-form
							input(type="text" placeholder="Ваш email").custom-form-input
							.btn.custom-form-btn Поиск
								img(src="style/img/icon/arrow-r-w.svg", alt="")
						.subscribe-desc
							| Получайте специальные предложения от лучших клиник рядом с вами!


	include ../var/footer.pug
				
