.main
	include ../var/top_line.pug

	.container
		.breadcrumbs
			a(href="").breadcrumbs-elem Главная 
			a(href="").breadcrumbs-elem Каталог
			a(href="").breadcrumbs-elem Стоматологии
	
	.catalog-header.container 
		.block-title 
			| Стоматологии 
			span Минска
		.catalog-header-wrap
			.catalog-header-elem
				.catalog-header-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem 
					| ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum 
					| dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. 
			.catalog-header-elem
				.catalog-header-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem 
					| ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum 
					| dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					| tempor incididunt ut labore et dolore magna aliqua. 
	
	section.filter.bg-color.bg-color-r

	.container
		.catalog-sort
			.catalog-sort-view.table
				.catalog-sort-view-btn.grid
				.catalog-sort-view-btn.table
			.catalog-sort-select

	.catalog.container
		.info
			.info-wrap
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться
				
				.info-item
					.info-item-wrap
						.info-item-img
							img(src="style/img/all/hospital.jpg", alt="")
						.info-item-bottom
							.info-item-name Медецинский центр “Текнон”
							.info-item-review
								.star.fourth
									.star-elem
									.star-elem
									.star-elem
									.star-elem
									.star-elem
								a(href="").info-item-review-val 56 отзывов
								.info-item-review-view 535
							.info-item-tag-wrap
								a(href="").info-item-tag Стоматлогия
								a(href="").info-item-tag Урология
								a(href="").info-item-tag Лор
								a(href="").info-item-tag Гинекология
								a(href="").info-item-tag Педиатрия
								a(href="").info-item-more +10
							.info-item-advantages
								.info-item-advantages-elem
									img(src="style/img/icon/parking.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Парковка
								.info-item-advantages-elem
									img(src="style/img/icon/childroom.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Детская комната
								.info-item-advantages-elem
									img(src="style/img/icon/wifi.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Wi-Fi зона 
								.info-item-advantages-elem
									img(src="style/img/icon/card-payment.svg", alt="").info-item-advantages-img
									.info-item-advantages-text Оплата карточкой
							.address
								.address-text ул. 3-я озерная,  дом 3
								.address-btn На карте
							.info-item-bottom-wrap
								.info-item-metro Михалова
								a(href="").btn.info-item-btn Записаться				
			
			a(href="").btn.btn-inverse.catalog-more Показать еще

	section.bg-color.bg-color-l
		.container
			.block
				.block-title Специальности клиник
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.block-info
					.spec
						.spec-row
							.spec-elem
								.spec-letter А
								ul.spec-list
									li.spec-list-elem Акушерство
									li.spec-list-elem Аллергология
									li.spec-list-elem Андрология
									li.spec-list-elem Анестезиология
							.spec-elem
								.spec-letter В
								ul.spec-list
									li.spec-list-elem Венерология
									li.spec-list-elem Вертебрология
							.spec-elem
								.spec-letter Г
								ul.spec-list
									li.spec-list-elem Гастроэнтерология
									li.spec-list-elem Гематология
									li.spec-list-elem Генетика
									li.spec-list-elem Гепатология
									li.spec-list-elem Гинекология
									li.spec-list-elem Гирудотерапия
									li.spec-list-elem Гомеопатия
							.spec-elem
								.spec-letter Д
								ul.spec-list
									li.spec-list-elem Дерматовенерология
									li.spec-list-elem Дерматология
									li.spec-list-elem Дерматоонкология
									li.spec-list-elem Диетология
									li.spec-list-elem Дневной стационар
							.spec-elem
								.spec-letter И
								ul.spec-list
									li.spec-list-elem Иммунология
									li.spec-list-elem Инфектология
						.spec-row
							.spec-elem
								.spec-letter К
								ul.spec-list
									li.spec-list-elem Кардиология
									li.spec-list-elem Кардиохирургия
									li.spec-list-elem Кинезитерапия
									li.spec-list-elem Косметология
							.spec-elem
								.spec-letter Л
								ul.spec-list
									li.spec-list-elem Логопедия
							.spec-elem
								.spec-letter М
								ul.spec-list
									li.spec-list-elem Маммология
									li.spec-list-elem Мануальная терапия
									li.spec-list-elem Массаж
							.spec-elem
								.spec-letter Н
								ul.spec-list
									li.spec-list-elem Наркология
									li.spec-list-elem Неврология
									li.spec-list-elem Нейрохирургия
									li.spec-list-elem Неонатология
									li.spec-list-elem Нетрадиционная медицина
									li.spec-list-elem Нефрология
							.spec-elem
								.spec-letter О
								ul.spec-list
									li.spec-list-elem Онкология
									li.spec-list-elem Ортодонтия
									li.spec-list-elem Ортопедия
									li.spec-list-elem Оториноларингология
									li.spec-list-elem Офтальмология
						.spec-row
							.spec-elem
								.spec-letter П
								ul.spec-list
									li.spec-list-elem Педиатрия
									li.spec-list-elem Пластическая хирургия
									li.spec-list-elem Подология
									li.spec-list-elem Проктология
									li.spec-list-elem Психиатрия
									li.spec-list-elem Психология
									li.spec-list-elem Психотерапия
									li.spec-list-elem Пульмонология
							.spec-elem
								.spec-letter Р
								ul.spec-list
									li.spec-list-elem Радиология
									li.spec-list-elem Реабилитология
									li.spec-list-elem Ревматология
									li.spec-list-elem Рентгенология
									li.spec-list-elem Репродуктология
									li.spec-list-elem Рефлексотерапия
							.spec-elem
								.spec-letter С
								ul.spec-list
									li.spec-list-elem Сексология
									li.spec-list-elem Сексопатология
									li.spec-list-elem Семейная медицина
									li.spec-list-elem Спортивная медицина
									li.spec-list-elem Стационар
									li.spec-list-elem Стоматология
									li.spec-list-elem Сурдология
						.spec-row
							.spec-elem
								.spec-letter Т
								ul.spec-list
									li.spec-list-elem Терапия
									li.spec-list-elem Травматология
									li.spec-list-elem Трихология
							.spec-elem
								.spec-letter У
								ul.spec-list
									li.spec-list-elem УЗ-диагностика
									li.spec-list-elem Урология
							.spec-elem
								.spec-letter Ф
								ul.spec-list
									li.spec-list-elem Физиотерапия
									li.spec-list-elem Фитотерапия
									li.spec-list-elem Флебология
									li.spec-list-elem Фтизиатрия
									li.spec-list-elem Функциональная диагностика
							.spec-elem
								.spec-letter Х
								ul.spec-list
									li.spec-list-elem Хирургия
							.spec-elem
								.spec-letter Э
								ul.spec-list
									li.spec-list-elem Эндокринология
									li.spec-list-elem Эндоскопия
	
	section
		.container
			.block
				.block-title 
					span Подпишитесь 
					| на нашу рассылку 
				.block-info
					.subscribe
						form(action="").custom-form
							input(type="text" placeholder="Ваш email").custom-form-input
							.btn.custom-form-btn Поиск
								img(src="style/img/icon/arrow-r-w.svg", alt="")
						.subscribe-desc
							| Получайте специальные предложения от лучших клиник рядом с вами!

	include ../var/footer.pug
				
