.main
	include ../var/top_line.pug

	section.header
		.container
			.header-info
				.header-logo
					img(src="style/img/icon/logo.svg", alt="").header-logo-img
				.header-title Все, что нужно для вашего здоровья, собрано в одном месте
				.header-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					| Ut enim ad minim veniam, quis nostrud exercitation ullamco 
					| laboris nisi ut aliquip ex ea commodo consequat.
				form(action="").custom-form.header-search
					input(type="text" placeholder="Например: Стоматология").custom-form-input
					.btn.custom-form-btn Поиск
	
	section
		.container
			.block
				.block-title 
					span Лучшие 
					| клиники
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.block-info
					.info
						.info-wrap
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
						.info-pagination
							.info-pagination-elem.active
							.info-pagination-elem
							.info-pagination-elem
							.info-pagination-elem
						a(href="").btn.info-btn Все клиники
		
	section.bg-color.bg-color-r
		.container
			.block
				.block-title Все специализации
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.block-info
					.about
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия

	section
		.container
			.block-bg
				img(src="style/img/all/abstract-bg.svg", alt="")
			.block
				.block-title 
					| Почему это 
					span удобно
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.block-info
					.tab
						.tab-list
							.tab-list-wrap
								a(href="").tab-link
									.tab-link-img-box
										svg.tab-link-img(width="54" height="55" viewBox="0 0 54 55" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M52.9453 26.5122H51.7092C50.0676 26.5122 48.524 25.8727 47.363 24.7118C45.8035 23.1523 43.7303 22.2935 41.5252 22.2935H33.75V13.2231C33.75 10.8969 31.8575 9.00439 29.5312 9.00439C28.7631 9.00439 28.0429 9.21175 27.4219 9.57203V9.00439C27.4219 6.67818 25.5293 4.78564 23.2031 4.78564C22.435 4.78564 21.7148 4.993 21.0938 5.35328V4.78564C21.0938 2.45943 19.2012 0.566895 16.875 0.566895C14.5488 0.566895 12.6562 2.45943 12.6562 4.78564V5.35328C12.0352 4.993 11.315 4.78564 10.5469 4.78564C8.22066 4.78564 6.32812 6.67818 6.32812 9.00439V22.407C4.98698 21.0367 3.11892 20.1841 1.05469 20.1841C0.472289 20.1841 0 20.6564 0 21.2388V38.1138C0 41.0849 1.41929 43.9237 3.79688 45.7075L5.48427 46.973C7.1955 48.2569 8.4375 51.007 8.4375 53.5122C8.4375 54.0946 8.90979 54.5669 9.49219 54.5669H14.2383C14.8207 54.5669 15.293 54.0946 15.293 53.5122C15.293 52.9298 14.8207 52.4575 14.2383 52.4575H10.4899C10.2266 49.9546 9.0411 47.0046 6.75 45.2856L5.06261 44.0201C3.21342 42.6327 2.10938 40.4247 2.10938 38.1138V22.3995C4.51343 22.8895 6.32812 25.0204 6.32812 27.5669V33.895C6.32812 34.4774 6.80041 34.9497 7.38281 34.9497C11.4537 34.9497 14.7656 38.2616 14.7656 42.3325C14.7656 42.9149 15.2379 43.3872 15.8203 43.3872C16.4027 43.3872 16.875 42.9149 16.875 42.3325C16.875 37.455 13.1769 33.4249 8.4375 32.8986V9.00439C8.4375 7.84129 9.38377 6.89502 10.5469 6.89502C11.71 6.89502 12.6562 7.84129 12.6562 9.00439V23.3481C12.6562 23.9305 13.1285 24.4028 13.7109 24.4028C14.2933 24.4028 14.7656 23.9305 14.7656 23.3481V4.78564C14.7656 3.62254 15.7119 2.67627 16.875 2.67627C18.0381 2.67627 18.9844 3.62254 18.9844 4.78564V23.3481C18.9844 23.9305 19.4567 24.4028 20.0391 24.4028C20.6215 24.4028 21.0938 23.9305 21.0938 23.3481V9.00439C21.0938 7.84129 22.04 6.89502 23.2031 6.89502C24.3662 6.89502 25.3125 7.84129 25.3125 9.00439V23.3481C25.3125 23.9305 25.7848 24.4028 26.3672 24.4028C26.9496 24.4028 27.4219 23.9305 27.4219 23.3481V13.2231C27.4219 12.06 28.3681 11.1138 29.5312 11.1138C30.6944 11.1138 31.6406 12.06 31.6406 13.2231V22.2935H30.5859C28.8413 22.2935 27.4219 23.7129 27.4219 25.4575C27.4219 25.8273 27.4862 26.1821 27.6033 26.5122H22.1484C20.4038 26.5122 18.9844 27.9316 18.9844 29.6763C18.9844 30.088 19.0643 30.4813 19.2081 30.8424C17.8654 31.2084 16.875 32.438 16.875 33.895C16.875 35.3521 17.8654 36.5816 19.2081 36.9476C19.0643 37.3087 18.9844 37.702 18.9844 38.1138C18.9844 39.5708 19.9747 40.8004 21.3174 41.1664C21.1737 41.5275 21.0938 41.9208 21.0938 42.3325C21.0938 44.0772 22.5131 45.4966 24.2578 45.4955H29.38C28.2783 47.5393 27.5528 50.1286 27.4379 52.4575H23.7305C23.1481 52.4575 22.6758 52.9298 22.6758 53.5122C22.6758 54.0946 23.1481 54.5669 23.7305 54.5669H28.4766C29.059 54.5669 29.5312 54.0946 29.5312 53.5122V53.0967C29.5312 50.7803 30.1888 48.2514 31.8306 45.4966H42.1495C43.8564 45.4966 45.5645 45.0934 47.0892 44.3304C48.3223 43.7133 49.704 43.3872 51.0849 43.3872H52.9453C53.5277 43.3872 54 42.9149 54 42.3325V27.5669C54 26.9845 53.5277 26.5122 52.9453 26.5122ZM51.8906 41.2778H51.0848C49.3779 41.2778 47.6699 41.681 46.1452 42.444C44.9121 43.061 43.5303 43.3872 42.1495 43.3872C40.3422 43.3872 26.0652 43.3872 24.2578 43.3872C23.6763 43.3872 23.2031 42.9141 23.2031 42.3325C23.2031 41.751 23.6763 41.2778 24.2578 41.2778H32.6953C33.2777 41.2778 33.75 40.8055 33.75 40.2231C33.75 39.6407 33.2777 39.1685 32.6953 39.1685H22.1484C21.5669 39.1685 21.0938 38.6953 21.0938 38.1138C21.0938 37.5322 21.5669 37.0591 22.1484 37.0591H32.6953C33.2777 37.0591 33.75 36.5868 33.75 36.0044C33.75 35.422 33.2777 34.9497 32.6953 34.9497H20.0391C19.4575 34.9497 18.9844 34.4766 18.9844 33.895C18.9844 33.3135 19.4575 32.8403 20.0391 32.8403H32.6953C33.2777 32.8403 33.75 32.368 33.75 31.7856C33.75 31.2032 33.2777 30.731 32.6953 30.731H22.1484C21.5669 30.731 21.0938 30.2578 21.0938 29.6763C21.0938 29.0947 21.5669 28.6216 22.1484 28.6216H36.9141C37.4965 28.6216 37.9688 28.1493 37.9688 27.5669C37.9688 26.9845 37.4965 26.5122 36.9141 26.5122H30.5859C30.0044 26.5122 29.5312 26.0391 29.5312 25.4575C29.5312 24.876 30.0044 24.4028 30.5859 24.4028H41.5252C43.1668 24.4028 44.7104 25.0423 45.8714 26.2033C47.4309 27.7628 49.5041 28.6216 51.7092 28.6216H51.8906V41.2778Z" fill="#030090")
											path(d="M18.9844 54.5669C19.5669 54.5669 20.0391 54.0947 20.0391 53.5122C20.0391 52.9297 19.5669 52.4575 18.9844 52.4575C18.4019 52.4575 17.9297 52.9297 17.9297 53.5122C17.9297 54.0947 18.4019 54.5669 18.9844 54.5669Z" fill="#030090")
									.tab-link-text
										.tab-link-title Выбор клиники стал быстрее
										.tab-link-desc 
											| Lorem ipsum dolor sit amet, consectetur 
											| adipiscing elit, sed do eiusmod tempor 
								a(href="").tab-link
									.tab-link-img-box
										svg.tab-link-img(width="54" height="55" viewBox="0 0 54 55" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M52.9453 26.5122H51.7092C50.0676 26.5122 48.524 25.8727 47.363 24.7118C45.8035 23.1523 43.7303 22.2935 41.5252 22.2935H33.75V13.2231C33.75 10.8969 31.8575 9.00439 29.5312 9.00439C28.7631 9.00439 28.0429 9.21175 27.4219 9.57203V9.00439C27.4219 6.67818 25.5293 4.78564 23.2031 4.78564C22.435 4.78564 21.7148 4.993 21.0938 5.35328V4.78564C21.0938 2.45943 19.2012 0.566895 16.875 0.566895C14.5488 0.566895 12.6562 2.45943 12.6562 4.78564V5.35328C12.0352 4.993 11.315 4.78564 10.5469 4.78564C8.22066 4.78564 6.32812 6.67818 6.32812 9.00439V22.407C4.98698 21.0367 3.11892 20.1841 1.05469 20.1841C0.472289 20.1841 0 20.6564 0 21.2388V38.1138C0 41.0849 1.41929 43.9237 3.79688 45.7075L5.48427 46.973C7.1955 48.2569 8.4375 51.007 8.4375 53.5122C8.4375 54.0946 8.90979 54.5669 9.49219 54.5669H14.2383C14.8207 54.5669 15.293 54.0946 15.293 53.5122C15.293 52.9298 14.8207 52.4575 14.2383 52.4575H10.4899C10.2266 49.9546 9.0411 47.0046 6.75 45.2856L5.06261 44.0201C3.21342 42.6327 2.10938 40.4247 2.10938 38.1138V22.3995C4.51343 22.8895 6.32812 25.0204 6.32812 27.5669V33.895C6.32812 34.4774 6.80041 34.9497 7.38281 34.9497C11.4537 34.9497 14.7656 38.2616 14.7656 42.3325C14.7656 42.9149 15.2379 43.3872 15.8203 43.3872C16.4027 43.3872 16.875 42.9149 16.875 42.3325C16.875 37.455 13.1769 33.4249 8.4375 32.8986V9.00439C8.4375 7.84129 9.38377 6.89502 10.5469 6.89502C11.71 6.89502 12.6562 7.84129 12.6562 9.00439V23.3481C12.6562 23.9305 13.1285 24.4028 13.7109 24.4028C14.2933 24.4028 14.7656 23.9305 14.7656 23.3481V4.78564C14.7656 3.62254 15.7119 2.67627 16.875 2.67627C18.0381 2.67627 18.9844 3.62254 18.9844 4.78564V23.3481C18.9844 23.9305 19.4567 24.4028 20.0391 24.4028C20.6215 24.4028 21.0938 23.9305 21.0938 23.3481V9.00439C21.0938 7.84129 22.04 6.89502 23.2031 6.89502C24.3662 6.89502 25.3125 7.84129 25.3125 9.00439V23.3481C25.3125 23.9305 25.7848 24.4028 26.3672 24.4028C26.9496 24.4028 27.4219 23.9305 27.4219 23.3481V13.2231C27.4219 12.06 28.3681 11.1138 29.5312 11.1138C30.6944 11.1138 31.6406 12.06 31.6406 13.2231V22.2935H30.5859C28.8413 22.2935 27.4219 23.7129 27.4219 25.4575C27.4219 25.8273 27.4862 26.1821 27.6033 26.5122H22.1484C20.4038 26.5122 18.9844 27.9316 18.9844 29.6763C18.9844 30.088 19.0643 30.4813 19.2081 30.8424C17.8654 31.2084 16.875 32.438 16.875 33.895C16.875 35.3521 17.8654 36.5816 19.2081 36.9476C19.0643 37.3087 18.9844 37.702 18.9844 38.1138C18.9844 39.5708 19.9747 40.8004 21.3174 41.1664C21.1737 41.5275 21.0938 41.9208 21.0938 42.3325C21.0938 44.0772 22.5131 45.4966 24.2578 45.4955H29.38C28.2783 47.5393 27.5528 50.1286 27.4379 52.4575H23.7305C23.1481 52.4575 22.6758 52.9298 22.6758 53.5122C22.6758 54.0946 23.1481 54.5669 23.7305 54.5669H28.4766C29.059 54.5669 29.5312 54.0946 29.5312 53.5122V53.0967C29.5312 50.7803 30.1888 48.2514 31.8306 45.4966H42.1495C43.8564 45.4966 45.5645 45.0934 47.0892 44.3304C48.3223 43.7133 49.704 43.3872 51.0849 43.3872H52.9453C53.5277 43.3872 54 42.9149 54 42.3325V27.5669C54 26.9845 53.5277 26.5122 52.9453 26.5122ZM51.8906 41.2778H51.0848C49.3779 41.2778 47.6699 41.681 46.1452 42.444C44.9121 43.061 43.5303 43.3872 42.1495 43.3872C40.3422 43.3872 26.0652 43.3872 24.2578 43.3872C23.6763 43.3872 23.2031 42.9141 23.2031 42.3325C23.2031 41.751 23.6763 41.2778 24.2578 41.2778H32.6953C33.2777 41.2778 33.75 40.8055 33.75 40.2231C33.75 39.6407 33.2777 39.1685 32.6953 39.1685H22.1484C21.5669 39.1685 21.0938 38.6953 21.0938 38.1138C21.0938 37.5322 21.5669 37.0591 22.1484 37.0591H32.6953C33.2777 37.0591 33.75 36.5868 33.75 36.0044C33.75 35.422 33.2777 34.9497 32.6953 34.9497H20.0391C19.4575 34.9497 18.9844 34.4766 18.9844 33.895C18.9844 33.3135 19.4575 32.8403 20.0391 32.8403H32.6953C33.2777 32.8403 33.75 32.368 33.75 31.7856C33.75 31.2032 33.2777 30.731 32.6953 30.731H22.1484C21.5669 30.731 21.0938 30.2578 21.0938 29.6763C21.0938 29.0947 21.5669 28.6216 22.1484 28.6216H36.9141C37.4965 28.6216 37.9688 28.1493 37.9688 27.5669C37.9688 26.9845 37.4965 26.5122 36.9141 26.5122H30.5859C30.0044 26.5122 29.5312 26.0391 29.5312 25.4575C29.5312 24.876 30.0044 24.4028 30.5859 24.4028H41.5252C43.1668 24.4028 44.7104 25.0423 45.8714 26.2033C47.4309 27.7628 49.5041 28.6216 51.7092 28.6216H51.8906V41.2778Z" fill="#030090")
											path(d="M18.9844 54.5669C19.5669 54.5669 20.0391 54.0947 20.0391 53.5122C20.0391 52.9297 19.5669 52.4575 18.9844 52.4575C18.4019 52.4575 17.9297 52.9297 17.9297 53.5122C17.9297 54.0947 18.4019 54.5669 18.9844 54.5669Z" fill="#030090")
									.tab-link-text
										.tab-link-title Выбор клиники стал быстрее
										.tab-link-desc 
											| Lorem ipsum dolor sit amet, consectetur 
											| adipiscing elit, sed do eiusmod tempor 
								a(href="").tab-link
									.tab-link-img-box
										svg.tab-link-img(width="54" height="55" viewBox="0 0 54 55" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M52.9453 26.5122H51.7092C50.0676 26.5122 48.524 25.8727 47.363 24.7118C45.8035 23.1523 43.7303 22.2935 41.5252 22.2935H33.75V13.2231C33.75 10.8969 31.8575 9.00439 29.5312 9.00439C28.7631 9.00439 28.0429 9.21175 27.4219 9.57203V9.00439C27.4219 6.67818 25.5293 4.78564 23.2031 4.78564C22.435 4.78564 21.7148 4.993 21.0938 5.35328V4.78564C21.0938 2.45943 19.2012 0.566895 16.875 0.566895C14.5488 0.566895 12.6562 2.45943 12.6562 4.78564V5.35328C12.0352 4.993 11.315 4.78564 10.5469 4.78564C8.22066 4.78564 6.32812 6.67818 6.32812 9.00439V22.407C4.98698 21.0367 3.11892 20.1841 1.05469 20.1841C0.472289 20.1841 0 20.6564 0 21.2388V38.1138C0 41.0849 1.41929 43.9237 3.79688 45.7075L5.48427 46.973C7.1955 48.2569 8.4375 51.007 8.4375 53.5122C8.4375 54.0946 8.90979 54.5669 9.49219 54.5669H14.2383C14.8207 54.5669 15.293 54.0946 15.293 53.5122C15.293 52.9298 14.8207 52.4575 14.2383 52.4575H10.4899C10.2266 49.9546 9.0411 47.0046 6.75 45.2856L5.06261 44.0201C3.21342 42.6327 2.10938 40.4247 2.10938 38.1138V22.3995C4.51343 22.8895 6.32812 25.0204 6.32812 27.5669V33.895C6.32812 34.4774 6.80041 34.9497 7.38281 34.9497C11.4537 34.9497 14.7656 38.2616 14.7656 42.3325C14.7656 42.9149 15.2379 43.3872 15.8203 43.3872C16.4027 43.3872 16.875 42.9149 16.875 42.3325C16.875 37.455 13.1769 33.4249 8.4375 32.8986V9.00439C8.4375 7.84129 9.38377 6.89502 10.5469 6.89502C11.71 6.89502 12.6562 7.84129 12.6562 9.00439V23.3481C12.6562 23.9305 13.1285 24.4028 13.7109 24.4028C14.2933 24.4028 14.7656 23.9305 14.7656 23.3481V4.78564C14.7656 3.62254 15.7119 2.67627 16.875 2.67627C18.0381 2.67627 18.9844 3.62254 18.9844 4.78564V23.3481C18.9844 23.9305 19.4567 24.4028 20.0391 24.4028C20.6215 24.4028 21.0938 23.9305 21.0938 23.3481V9.00439C21.0938 7.84129 22.04 6.89502 23.2031 6.89502C24.3662 6.89502 25.3125 7.84129 25.3125 9.00439V23.3481C25.3125 23.9305 25.7848 24.4028 26.3672 24.4028C26.9496 24.4028 27.4219 23.9305 27.4219 23.3481V13.2231C27.4219 12.06 28.3681 11.1138 29.5312 11.1138C30.6944 11.1138 31.6406 12.06 31.6406 13.2231V22.2935H30.5859C28.8413 22.2935 27.4219 23.7129 27.4219 25.4575C27.4219 25.8273 27.4862 26.1821 27.6033 26.5122H22.1484C20.4038 26.5122 18.9844 27.9316 18.9844 29.6763C18.9844 30.088 19.0643 30.4813 19.2081 30.8424C17.8654 31.2084 16.875 32.438 16.875 33.895C16.875 35.3521 17.8654 36.5816 19.2081 36.9476C19.0643 37.3087 18.9844 37.702 18.9844 38.1138C18.9844 39.5708 19.9747 40.8004 21.3174 41.1664C21.1737 41.5275 21.0938 41.9208 21.0938 42.3325C21.0938 44.0772 22.5131 45.4966 24.2578 45.4955H29.38C28.2783 47.5393 27.5528 50.1286 27.4379 52.4575H23.7305C23.1481 52.4575 22.6758 52.9298 22.6758 53.5122C22.6758 54.0946 23.1481 54.5669 23.7305 54.5669H28.4766C29.059 54.5669 29.5312 54.0946 29.5312 53.5122V53.0967C29.5312 50.7803 30.1888 48.2514 31.8306 45.4966H42.1495C43.8564 45.4966 45.5645 45.0934 47.0892 44.3304C48.3223 43.7133 49.704 43.3872 51.0849 43.3872H52.9453C53.5277 43.3872 54 42.9149 54 42.3325V27.5669C54 26.9845 53.5277 26.5122 52.9453 26.5122ZM51.8906 41.2778H51.0848C49.3779 41.2778 47.6699 41.681 46.1452 42.444C44.9121 43.061 43.5303 43.3872 42.1495 43.3872C40.3422 43.3872 26.0652 43.3872 24.2578 43.3872C23.6763 43.3872 23.2031 42.9141 23.2031 42.3325C23.2031 41.751 23.6763 41.2778 24.2578 41.2778H32.6953C33.2777 41.2778 33.75 40.8055 33.75 40.2231C33.75 39.6407 33.2777 39.1685 32.6953 39.1685H22.1484C21.5669 39.1685 21.0938 38.6953 21.0938 38.1138C21.0938 37.5322 21.5669 37.0591 22.1484 37.0591H32.6953C33.2777 37.0591 33.75 36.5868 33.75 36.0044C33.75 35.422 33.2777 34.9497 32.6953 34.9497H20.0391C19.4575 34.9497 18.9844 34.4766 18.9844 33.895C18.9844 33.3135 19.4575 32.8403 20.0391 32.8403H32.6953C33.2777 32.8403 33.75 32.368 33.75 31.7856C33.75 31.2032 33.2777 30.731 32.6953 30.731H22.1484C21.5669 30.731 21.0938 30.2578 21.0938 29.6763C21.0938 29.0947 21.5669 28.6216 22.1484 28.6216H36.9141C37.4965 28.6216 37.9688 28.1493 37.9688 27.5669C37.9688 26.9845 37.4965 26.5122 36.9141 26.5122H30.5859C30.0044 26.5122 29.5312 26.0391 29.5312 25.4575C29.5312 24.876 30.0044 24.4028 30.5859 24.4028H41.5252C43.1668 24.4028 44.7104 25.0423 45.8714 26.2033C47.4309 27.7628 49.5041 28.6216 51.7092 28.6216H51.8906V41.2778Z" fill="#030090")
											path(d="M18.9844 54.5669C19.5669 54.5669 20.0391 54.0947 20.0391 53.5122C20.0391 52.9297 19.5669 52.4575 18.9844 52.4575C18.4019 52.4575 17.9297 52.9297 17.9297 53.5122C17.9297 54.0947 18.4019 54.5669 18.9844 54.5669Z" fill="#030090")
									.tab-link-text
										.tab-link-title Выбор клиники стал быстрее
										.tab-link-desc 
											| Lorem ipsum dolor sit amet, consectetur 
											| adipiscing elit, sed do eiusmod tempor 
							a(href="").btn.tab-list-link Найти клинику
						.tab-info
							.tab-info-elem
								.tab-info-img-box
									img(src="style/img/all/review-prev.png", alt="").tab-info-img

	section.bg-color.bg-color-l
		.container
			.block
				.block-title Все специализации
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.block-info
					.step
						.step-elem.blue
							.step-elem-wrap
								.step-img
									.step-img-bg
										svg.step-img-bg-svg(width="118" height="117" viewBox="0 0 118 117" fill="none" xmlns="http://www.w3.org/2000/svg")
											circle(cx="59" cy="58.623" r="43" fill="white")
											path(d="M118 58.5C118 50.8177 116.474 43.2106 113.509 36.113C110.544 29.0155 106.198 22.5665 100.719 17.1343C95.2406 11.702 88.7365 7.39295 81.5783 4.45305C74.4201 1.51315 66.748 -3.35805e-07 59 0L59 8.84951C65.5759 8.84951 72.0875 10.1338 78.1628 12.6289C84.2382 15.1241 89.7584 18.7813 94.4083 23.3918C99.0581 28.0023 102.747 33.4757 105.263 39.4996C107.78 45.5235 109.075 51.9798 109.075 58.5H118Z" fill="white")
									img(src="style/img/icon/hands-w.svg", alt="")
								.step-title Выбираете подходящую вам клинику
								.step-desc
									| Lorem ipsum dolor sit amet, consectetur 
									| adipiscing elit, sed do eiusmod tempor 
						.step-elem.lightblue
							.step-elem-wrap
								.step-img
									.step-img-bg
										svg.step-img-bg-svg(width="118" height="117" viewBox="0 0 118 117" fill="none" xmlns="http://www.w3.org/2000/svg")
											circle(cx="61" cy="58.623" r="43" fill="white")
											path(d="M59 117C66.748 117 74.4201 115.487 81.5783 112.547C88.7365 109.607 95.2406 105.298 100.719 99.8657C106.198 94.4335 110.544 87.9845 113.509 80.887C116.474 73.7894 118 66.1823 118 58.5C118 50.8177 116.474 43.2106 113.509 36.113C110.544 29.0155 106.198 22.5665 100.719 17.1342C95.2406 11.702 88.7365 7.39294 81.5783 4.45304C74.4201 1.51314 66.748 -2.16741e-06 59 0L59 8.84951C65.5759 8.8495 72.0874 10.1338 78.1628 12.6289C84.2382 15.1241 89.7584 18.7813 94.4083 23.3918C99.0581 28.0023 102.747 33.4757 105.263 39.4996C107.78 45.5234 109.075 51.9798 109.075 58.5C109.075 65.0202 107.78 71.4765 105.263 77.5004C102.747 83.5243 99.0582 88.9977 94.4083 93.6082C89.7584 98.2187 84.2382 101.876 78.1628 104.371C72.0875 106.866 65.5759 108.15 59 108.15L59 117Z" fill="white")
									img(src="style/img/icon/hands-w.svg", alt="")
								.step-title Записываемся через нашу платформу
								.step-desc
									| Lorem ipsum dolor sit amet, consectetur 
									| adipiscing elit, sed do eiusmod tempor
						.step-elem.green
							.step-elem-wrap
								.step-img
									.step-img-bg
										svg.step-img-bg-svg(width="118" height="117" viewBox="0 0 118 117" fill="none" xmlns="http://www.w3.org/2000/svg")
											circle(cx="59" cy="58.623" r="43" fill="white")
											path(d="M0 58.5C-1.02014e-06 70.0702 3.46029 81.3806 9.94329 91.0009C16.4263 100.621 25.6408 108.119 36.4217 112.547C47.2025 116.975 59.0654 118.133 70.5103 115.876C81.9552 113.619 92.468 108.047 100.719 99.8658C108.971 91.6844 114.59 81.2607 116.866 69.9128C119.143 58.5649 117.974 46.8025 113.509 36.113C109.043 25.4235 101.481 16.2871 91.7786 9.85903C82.0761 3.43097 70.6691 8.73527e-07 59 0L59 8.84951C68.9039 8.84951 78.5853 11.7615 86.8201 17.2171C95.0549 22.6728 101.473 30.4271 105.263 39.4996C109.053 48.572 110.045 58.5551 108.113 68.1863C106.181 77.8176 101.411 86.6645 94.4083 93.6082C87.4052 100.552 78.4827 105.281 68.7691 107.196C59.0555 109.112 48.9872 108.129 39.8372 104.371C30.6872 100.613 22.8666 94.2493 17.3643 86.0843C11.862 77.9194 8.92514 68.3199 8.92514 58.5L0 58.5Z" fill="white")
									img(src="style/img/icon/hands-w.svg", alt="")
								.step-title Ждете СМС об подтверждении приема
								.step-desc
									| Lorem ipsum dolor sit amet, consectetur 
									| adipiscing elit, sed do eiusmod tempor
						.step-elem.orange
							.step-elem-wrap
								.step-img
									.step-img-bg
										svg.step-img-bg-svg(width="118" height="117" viewBox="0 0 118 117" fill="none" xmlns="http://www.w3.org/2000/svg")
											circle(cx="60" cy="58.623" r="43" fill="white")
											path(d="M118 58.5C118 90.8087 91.5848 117 59 117C26.4152 117 0 90.8087 0 58.5C0 26.1913 26.4152 0 59 0C91.5848 0 118 26.1913 118 58.5ZM8.92514 58.5C8.92514 85.9212 31.3444 108.15 59 108.15C86.6556 108.15 109.075 85.9212 109.075 58.5C109.075 31.0788 86.6556 8.84951 59 8.84951C31.3444 8.84951 8.92514 31.0788 8.92514 58.5Z" fill="white")
									img(src="style/img/icon/hands-w.svg", alt="")
								.step-title Приходим на прием в клинику
								.step-desc
									| Lorem ipsum dolor sit amet, consectetur 
									| adipiscing elit, sed do eiusmod tempor

	section
		.container
			.block
				.block-title 
					span Подпишитесь 
					| на нашу рассылку 
				.block-info
					.subscribe
						form(action="").custom-form
							input(type="text" placeholder="Ваш email").custom-form-input
							.btn.custom-form-btn Поиск
						.subscribe-desc
							| Получайте специальные предложения от лучших клиник рядом с вами!

	include ../var/footer.pug



				