.main
	include ../var/top_line.pug

	section.header
		.container
			.header-info
				.header-logo
					img(src="style/img/icon/logo.svg", alt="").header-logo-img
				.header-title Все, что нужно для вашего здоровья, собрано в одном месте
				.header-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					| Ut enim ad minim veniam, quis nostrud exercitation ullamco 
					| laboris nisi ut aliquip ex ea commodo consequat.
				form(action="").search.header-search
					input(type="text" placeholder="Например: Стоматология").search-input
					a(href="").btn.search-btn Поиск
	
	section
		.container
			.block
				.block-title 
					span Лучшие 
					| клиники
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				.block-info
					.info
						.info-wrap
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
							.info-item
								.info-item-wrap
									.info-item-img
										img(src="style/img/all/hospital.jpg", alt="")
									.info-item-bottom
										.info-item-name Медецинский центр “Текнон”
										.info-item-review
											.info-item-review-star-wrap.fourth
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
												.info-item-review-star
											a(href="").info-item-review-val 56 отзывов
											.info-item-review-view 535
										.info-item-tag-wrap
											a(href="").info-item-tag Стоматлогия
											a(href="").info-item-tag Урология
											a(href="").info-item-tag Лор
											a(href="").info-item-tag Гинекология
											a(href="").info-item-tag Педиатрия
											a(href="").info-item-more +10
									a(href="").info-item-btn Записаться
						.info-pagination
							.info-pagination-elem.active
							.info-pagination-elem
							.info-pagination-elem
							.info-pagination-elem
						a(href="").btn.info-btn Все клиники
		
	section.bg-color
		.container
			.block
				.block-title Все специализации
				.block-desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
					| eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.block-info
					.about
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия
						.about-item
							.about-item-wrap
								.about-img
									img(src="style/img/icon/hands.svg", alt="") 
								.about-info
									.about-title Стоматология
									.about-list
										a(href="").about-link Имплантация
										a(href="").about-link Хирургия
										a(href="").about-link Протезирование
										a(href="").about-link Ортодонтия
										a(href="").about-link Терапевт
										a(href="").about-link Эндодонтия
										a(href="").about-link Шинирование
										a(href="").about-link Ренгендиагностика
										a(href="").about-link Парадонтия







				