.modal.modal-review
	.modal-body
		form(action="").modal-review-form
			input(type="text" placeholder="Ваше имя").modal-review-input
			textarea(name="" placeholder="Ваш отзыв очень важен для нас").modal-review-textarea
		.modal-review-wrap
			.modal-review-row
				.modal-review-l Компетенция врачей
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row
				.modal-review-l Оборудование 
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row
				.modal-review-l Чистота
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row
				.modal-review-l Сервис
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row
				.modal-review-l Интерьер
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row
				.modal-review-l Результат лечения
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row
				.modal-review-l Соотношение цены и качества
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
			.modal-review-row.modal-review-row-all
				.modal-review-l Ваша оценка клиники
				.modal-review-r
					.star
						.star-elem
						.star-elem
						.star-elem
						.star-elem
						.star-elem
					.modal-review-val 0.0
		.btn.modal-review-btn Оставить отзыв
			