.top-line
	background-color: #F2F2F9
	&-wrap
		+flex
		padding: 41px 0 39px 0
		+align-items(center)

	&-logo
		display: block
		width: 100%
		max-width: 100px
		+prefix(transition, $default-transition)

		&:hover
			opacity: $default-opacity

		&-img
			width: 100%

	&-nav
		+flex
		margin: 0 auto

		&-link
			display: block
			padding: 0 15px
			font-size: 16px
			font-weight: 600
			color: rgba(0, 0, 0, .6)
			+prefix(transition, $default-transition)

			&:hover
				color: #000

			&.active
				font-weight: 800
				color: #000
	
	&-info
		+flex
		width: 100%
		max-width: 350px
		+justify-content(flex-end)
		+align-items(center)

	&-city
		position: relative
		display: block
		margin:
			right: 30px
		padding: 2px 0 3px 0
			left: 20px
		height: 24px
		font-size: 16px
		font-weight: 600
		color: #000
		text-decoration: underline
		+prefix(transition, $default-transition)

		&:hover
			opacity: $default-opacity

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 15px
			height: 24px
			background-image: url(../img/icon/pin.svg)
			background-size: 100% auto
			background-position: center center
			background-repeat: no-repeat
