footer.footer
	.container 

		.footer-t
			.footer-logo
				img(src="style/img/icon/logo-w.svg", alt="")
			form(action="").custom-form.footer-search
				input(type="text" placeholder="Например: Стоматология").custom-form-input
				.btn.btn-inverse.custom-form-btn
					img(src="style/img/icon/search.svg", alt="")
		
		.footer-m
			.footer-menu
				.footer-menu-list
					a(href="").footer-menu-list-link Каталог
					a(href="").footer-menu-list-link Акции
					a(href="").footer-menu-list-link О нас
				.footer-menu-list
					a(href="").footer-menu-list-link Блог
					a(href="").footer-menu-list-link Контакты
					a(href="").footer-menu-list-link Для клиник
				
			.footer-contact
				.footer-contact-elem
					a(href="tel:+375293333333").footer-contact-link.phone +375 29 333 33 33
					.footer-contact-box.mail
						a(href="mailto:Mail@mail.by").footer-contact-link Mail@mail.by
						a(href="mailto:Mail@mail.by").footer-contact-link Mail@mail.by
				.footer-contact-elem
					.footer-contact-name ООО “РУДМЕД”
					.footer-contact-address г. Москва, ул. Титова, 14  оф 34
		
			.footer-info
				.footer-city Минск
				a(href="").btn.btn-inverse Записаться

		.footer-b
			.footer-copyright © РудМед Все права защищены

			
			