head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title R.Med
	meta(name="description" content="R.Med")
	meta(name="keywords" content="test, test1, test2")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href="./style/css/main.css")

	// Chrome, Firefox OS and Opera
	meta(name="theme-color" content="#FFE600")
	// Windows Phone
	meta(name="msapplication-navbutton-color" content="#FFE600")
	// iOS Safari 
	meta(name="apple-mobile-web-app-status-bar-style" content="#FFE600")

	