.top-line
	.container
		.top-line-wrap
			.top-line-logo
				img(src="style/img/icon/logo.svg", alt="R.Med Logo").top-line-logo-img
			nav.top-line-nav
				a(href="").top-line-nav-link.active Каталог
				a(href="").top-line-nav-link О нас
				a(href="").top-line-nav-link Блог
				a(href="").top-line-nav-link Акции
				a(href="").top-line-nav-link Контакты
				a(href="").top-line-nav-link Для клиник
			.top-line-info
				a(href="").top-line-city Минск
				a(href="").btn.top-line-btn Записаться